/* цвет остновного текста #212121 */
/* вторичный цвет текста  #757575 */

/* основной фон background: #FFFFFF; */
/* фон команда background: #F5F4FA; */
/* футер фон background: #2F303A; */

/* синий цвет кнопки и Веб #2196F3 */
/* белый #212121 */
/* текст с прозрачн  color: rgba(255, 255, 255, 0.6); */
/* цвет остновного текста #212121 */

:root {
  /* текс */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --logo-black-color: #000000;
  --base-white-color: #ffffff;

  /* фон */
  --primary-bg-color: #ffffff;
  --accent-bg-color: #2f303a;
  --accent-secondary-bg-color: #2196f3;
  --base-white-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --button-bg-active: #188CE8;
}

/* html {
  box-sizing: border-box;
} */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  align-content: center;
  width: 1600px;

  font-family: 'Roboto', sans-serif;
  
}

ul {
  list-style: none;
}

/* Убираем заголовки на странице */

.visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Page Header */

.main-header {
  display: flex;
  align-items: center;
  align-content: center;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
  
}

.container-header {

  width: 1170px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container {

  width: 1170px;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header nav+cont. */

.logo {
     display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--logo-black-color);

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo span {
  color: var(--accent-text-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
  padding-left: 0;
  padding-right: 0;

  margin-top: 0;
  margin-bottom: 0;
  
}


.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link, 
.link-current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-nav {
   display: flex;
   margin-left: auto;

  margin-top: 0;
  margin-bottom: 0;
  
}

.contact-nav .item + .item {
  margin-left: 50px;
}

.site-nav a {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

}

.contact-nav a {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link-current {
  color: var(--accent-text-color);
}

.contact-nav :hover,
.contact-nav :focus {
  color: var(--accent-text-color);
}

/* Герой банер с заголовком */

.hero {
  background-color: var(--accent-bg-color);
  text-align: center;
  margin-bottom: 0;
  width: 1600px;
}

.hero-title {
  color: var(--base-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
}

/* Button */

.button-primary {
    cursor: pointer;

  color: var(--base-white-color);
  background-color: var(--accent-secondary-bg-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border: none;


}

.button-secondary {
    cursor: pointer;

  color: var(--title-text-color);
  background: var(--secondary-bg-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  border-radius: 4px;
  padding: 6px 22px;
  max-width: 130px;
  border: none;
  

}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--button-bg-active);
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--base-white-color);
  background-color: var(--accent-secondary-bg-color);
}

/* Особливості (ЗАГОЛОВОК h2 прибрати в CSS) */


.features {
  width: 1600px;
}
.features-list {
  display: flex;
  padding-inline-start: 0; 
}

.features-list .item + .item {
  margin-left: 30px;
}

.features-list .item {
  width: 270px;
}

.block {
  margin-top: 0;
  margin-bottom: 0;
}


.title-portfolio {
  color: var(--title-text-color);
}

.features .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.features-text {

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}

/* чим ми займаємось */

.img-list {
  display: flex;
  padding-left: 0;
  padding-right: 0;

  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.img-list .item{
  width: 370px;
}

.img-list .item + .item {
  margin-left: 30px;
}

.list-works {
  padding-top: 0;
  padding-bottom: 0;
  width: 1600px;
  align-items: center;
}

.list-works .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
  
}

/* наша команда */

.team {
  width: 1600px;
  margin-inline-end: 0;

}

.team-list {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin-inline-end: 0;

  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;

}

.team-list .item{
  width: 370px;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team {
  background-color: var(--secondary-bg-color);
    padding-top: 0;
    padding-bottom: 0;
}

.team .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}

.team .title-users {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 10px;

}

.team .text {

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.foto-users {
  margin-top: 0;
  margin-bottom: 30px;
}


/* Подвал  */

footer {
  background-color: var(--accent-bg-color);
  width: 1600px;

}

.block-footer .item {
 
  
}


.container-footer {
  margin-left: auto;
  margin-right: auto;

  width: 1170px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;

}

.logo-secondary {
  color: var(--base-white-color);

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  display: block;
  margin-bottom: 20px;

}


.logo-secondary span {
  color: var(--accent-text-color);
}

address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
 

.link-maps {
  color: var(--base-white-color);
  text-decoration: none;

}

.contact-nav-secondary {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contact-nav-secondary:hover,
.contact-nav-secondary:focus {
  color: var(--accent-text-color);
}

.link-maps:hover,
.link-maps:focus {
  color: var(--accent-text-color);
  
}

.block-footer {
 padding-left: 0;
 padding-right: 0;
}

.item .link-maps {
display: block;
margin-bottom: 9px;
}
.item .mail {
display: block;
margin-bottom: 9px;
}
.item .tell {
display: block;
}


/* Портфолио сторінка друга */


.page-header{
  margin-top: 0;
  margin-bottom: 0;
  padding top: 0;
  padding bottom: 0;

}



.list-button {
  display: flex;
  justify-content: center;

  margin-top: 0;
  margin-bottom: 34px;
  padding-right: 0;
  padding-left: 0;
  
}

.list-button .item + .item {
  margin-left: 8px;
}

.list-filter {
  display: flex;
  flex-wrap: wrap;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}


.link-filter,
.title,
.text {
  margin-top: 0;
  margin-bottom: 0;
}



.list-choice{
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  /* border-width: 1px;
  border-style: solid;
  border-color: blue; */
}

.box {
padding-left: 24px;
display: block;
 border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;

  /* Встановить стилі нижньої рамки */
  border-bottom-width: 1px;
  border-bottom-style:  solid;
  border-bottom-color: #EEEEEE;

  /* Встановить стилі лівої рамки */
  border-left-width: 1px;
  border-left-style:  solid;
  border-left-color: #EEEEEE;
}

/* #EEEEEE  РАМКА*/ 

.list-choice:nth-child(3n) {
  margin-right: 0;
   
}

.list-choice:nth-last-child(-n+3) {
  margin-bottom: 0;
}


.list-filter .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
  padding-top: 20px;
}

.list-filter .text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.link-filter {
    text-decoration: none;

}

.link-filter img {
  display: block;
}


